/* Body */
body {
  font-family: "Montserrat";
  text-align: center;
  color: #61dafb;
}

h1,
h2,
h3,
h5,
h6 {
  font-family: "Montserrat-Black"900;
  font-weight: bold;
}

p {
  font-family: "Montserrat";
  color: #8f8f8f;
}

/* Navigation Bar */
/* .navbar {
  background-color: #282c34;
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 400;
} */

.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  color: #fff;
  background-color: #282c34;
}

.nav-items {
  display: flex;
  gap: 2rem;
}

/* Sign up Section */
.signup-container {
  background-color: #650794;
  display: flex;
  justify-content: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


/* Footer Section */
#footer {
  background-color: #fff;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}