/* Body */
/* * {
  background: url("/Users/blackwolvespurpleclothes/Desktop/creative_art_portal/frontend/public/images/sampleb_bg_for_project.jpg") center center;
  min-height: 100vh;
  width: 100%;
} */

html, body  {
  /* height: 100%; */
  scroll-behavior: smooth;
  margin: 0;
  font-family: "Montserrat";
  text-align: center;
  color: #61dafb;
}

h1,
h2,
h3,
h5,
h6 {
  font-family: "Montserrat-Black"900;
  font-weight: bold;
}

p {
  font-family: "Montserrat";
  color: #8f8f8f;
}


/* Navigation Bar */
.navbar {
  background-color: #282c34;
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  display: flex;
  gap: 2rem;
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 400;
  display: flex;
  gap: 2rem;
  padding: 0 18px;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  color: #fff;
  background-color: #282c34;
}

/* Sign up Section */
/* .form-container{

} */

/* div {
  border: 2px solid red;
} */

.login-signup {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

 .signup-container {
  justify-content: center;
  background: url("/Users/blackwolvespurpleclothes/Desktop/creative_art_portal/frontend/public/images/sampleb_bg_for_project.jpg") center center;
  min-height: 100vh;
  width: 100%;
  /* background-color: #650794; */
  display: flex;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
} */

/* Footer Section */
/* .footer-container {
  justify-content: center;
  } */
#footer {
  background:#282c34;
  color: #61dafb;
  text-align: center;
  justify-content: center;
}

.social-icon {
  margin: 20px 10px;
  color: #61dafb;
}