/* .bg-for-everything {
  background-image: url("/Users/blackwolvespurpleclothes/Desktop/creative_art_portal/frontend/public/images/sampleb_bg_for_project.jpg");
} */

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  font-family: 'Josefin Sans', cursive;
}

.custom-size-app {
  max-width: 85vw;
  border: 2px solid brown;
}
/* Post / Landing Page */

.navbar-brand {
  color: #61dafb;
}

.app-logo {
  color: #61dafb;
text-shadow: cornsilk;
}

.Hero-Section {
/* justify-content: center; */
color: #282c34;
/* height: 300px;
width: 300px; */
}

.about-us-description {
max-width: 50rem;
}

.card-img-top {
  height: 240px;

}

/* Gallery Section */







/* ------ Just enable For seeing  CSS Grid Layout James specialty------- */
/* 
div {
  border: 2px solid red;
} */

/* ------ Just enable For seeing  CSS Grid Layout ------- */



/* Login Page */

.login-page {
  min-height: 100vh;
  width: 100%;
  background-color: #65079400;
}

.form-control {
  padding-bottom: 5rem;
}

.login-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 20rem;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-floating {
padding-top: 1.5 rem;
}


/* Signup Page*/

 .signup-container {
  justify-content: center;
  min-height: 100;
  width: 100;
  background-color: #650794;
}
/* 
.signup-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}  */

/* Footer Section */
/* .footer-container {
  justify-content: center;
  } */
#footer {
  background:#282c3400;
  color: #61dafb;
  text-align: center;
  justify-content: center;
}

.quotes {
  color: #282c34;
  justify-content: center;
  padding-bottom: 2rem;
}

.social-icon {
  margin: 20px 10px;
  color: #61dafb;
}

/* .social-icons {
width: 100%;
padding: 0 0 0 0;
} */

.container {
  width: 100%;
  margin-left: 0 0 0;
  padding: 0 0 0 0;
}